<nav class="navcontainer">
  <ul class="navlist">
    <li class="navhome"><a href="index.html">0</a>
    <li class="nav01"><a href="just-enough-js-01.html">1</a></li>
    <li class="nav02"><a href="just-enough-js-02.html">2</a></li>
    <li class="nav03"><a href="just-enough-js-03.html">3</a></li>
    <li class="nav04"><a href="just-enough-js-04.html">4</a></li>
    <li class="nav05"><a href="just-enough-js-05.html">5</a></li>
  </ul>
</nav>

